<div class="hungman" [ngSwitch]="this.counter.count">
  <div class="hungman-img" *ngSwitchCase="1">
    <img src="assets/first.png">
  </div>
  <div class="hungman-img" *ngSwitchCase="2">
    <img src="assets/second.png">
  </div>
  <div class="hungman-img" *ngSwitchCase="3">
    <img src="assets/third.png">
  </div>
  <div class="hungman-img" *ngSwitchCase="4">
    <img src="assets/fourth.png">
  </div>
  <div class="hungman-img" *ngSwitchCase="5">
    <img src="assets/fives.png">
  </div>
  <div class="hungman-img" *ngSwitchCase="6">
    <img src="assets/six.png">
  </div>

</div>
